@import url('style.css');

#top-players {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #252525;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ff4500;
}

th {
    color: #ff4500;
    font-weight: bold;
}

td {
    color: #ddd;
}

tr:hover {
    background-color: #333;
}

table th, table td {
    font-size: 1.1em;
}
